<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ktime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ktime" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[ktime]" type="text" value="{$row.ktime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ptime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ptime" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[ptime]" type="text" value="{$row.ptime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sp')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sp" class="form-control form-control" name="row[sp]" type="text" value="{$row.sp}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kcj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kcj" class="form-control form-control" name="row[kcj]" type="text" value="{$row.kcj}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cw" class="form-control form-control" name="row[cw]" type="text" value="{$row.cw}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zsj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zsj" class="form-control form-control" name="row[zsj]" type="text" value="{$row.zsj}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zyj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zyj" class="form-control form-control" name="row[zyj]" type="text" value="{$row.zyj}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pcj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pcj" class="form-control form-control" name="row[pcj]" type="text" value="{$row.pcj}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lx')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lx" class="form-control form-control" name="row[lx]" type="text" value="{$row.lx}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" class="form-control form-control" name="row[username]" type="text" value="{$row.username}">
        </div>
    </div>
    <!--
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uname" class="form-control form-control" name="row[uname]" type="text" value="{$row.uname}">
        </div>
    </div>
     -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-sn" class="form-control  form-control" rows="5" name="row[sn]" cols="50">{$row.sn}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Z')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-z" class="form-control form-control" name="row[z]" type="number" value="{$row.z}">
        </div>
    </div>
    <!--
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ttime" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[ttime]" type="text" value="{$row.ttime|datetime}">
        </div>
    </div>
    -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
