<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>迷你登录</title>
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="default">
<link href="/style/room/images/minilogin.css" rel="stylesheet" type="text/css"  />
<script src="/style/room/script/jquery.min.js"></script>
</head>

<body>
<div class="login">

    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">快速登录</a>
			<a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a><div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 66px; left: 0px;"></div>
        </div>
    </div>


    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">

            <!--登录-->
            <div class="web_login" id="web_login">


               <div class="login-box">


			<div class="login_form">
				<form action="/index/mlogin/login" method="post" enctype="application/x-www-form-urlencoded"  name="loginform"  id="login_form" class="loginForm" >
                <div class="uinArea" id="uinArea">
                <label class="input-tips" for="username">帐号：</label>
                <div class="inputOuter" id="uArea">
					<input type="hidden" name="__token1__" value="{$Request.token}" />
                    <input type="text" id="username" name="username" class="inputstyle"/>
                </div>
                </div>
                <div class="pwdArea" id="pwdArea">
               <label class="input-tips" for="password">密码：</label>
               <div class="inputOuter" id="pArea">

                    <input type="password" id="password" name="password" class="inputstyle"/>
                </div>
                </div>

                <div style="padding-left:30px;margin-top:20px;"><input type="submit" value="登 录" style="width:150px;" class="button_blue"/><a href="javascript://" onclick="top.location.href='./';location.href='./'" class="zcxy" target="_blank">游客体验</a></div>
              </form>
           </div>

            	</div>

            </div>
            <!--登录end-->
  </div>

  <!--注册-->
    <div class="qlogin" id="qlogin" style="display: none; ">

    <div class="web_login"> <form action="/index/mlogin/login" method="post" enctype="application/x-www-form-urlencoded" id="regUser">
        <ul class="reg_form" id="reg-ul">
        		<div id="userCue" class="cue">快速注册请注意格式</div>
                <li>
                <input type="hidden" name="__token2__" value="{$Request.token}" />
                 <input type="hidden" name="invite_user_id" value="0" />
                    <label for="user"  class="input-tips2">用户名：</label>
                    <div class="inputOuter2">
                        <input type="text" id="u" name="u" maxlength="16" class="inputstyle2" placeholder="6-16位字符"/>
                    </div>

                </li>

                <li>
                <label for="passwd" class="input-tips2">密码：</label>
                    <div class="inputOuter2">
                        <input type="password" id="p"  name="p" maxlength="16" class="inputstyle2"/>
                    </div>

                </li>
                <li>
                <label for="passwd2" class="input-tips2">确认密码：</label>
                    <div class="inputOuter2">
                        <input type="password" id="p2" name="p2" maxlength="16" class="inputstyle2" />
                    </div>

                </li>

                <li>
                 <label for="captcha" class="input-tips2">验证码：</label>
                    <div class="inputOuter2">
						<input type="text" id="c" name="captcha" class="inputstyle2" placeholder="验证码" data-rule="required;length(4)" style="border-radius: 0;" />
                            <span class="input-group-addon" style="padding:0;border:none;">
                                <img id="capt" src="{:captcha_src()}" width="140" height="42" onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/>
                            </span>
                    </div>

                </li>
                <li>
                 <label for="email" class="input-tips2">邮箱：</label>
                    <div class="inputOuter2">

                        <input type="text" id="email" name="email" maxlength="30" class="inputstyle2"/>
                    </div>

                </li>
                <li>
                 <label for="phone" class="input-tips2">手机：</label>
                    <div class="inputOuter2">

                        <input type="text" id="phone" name="phone" maxlength="11" class="inputstyle2"/>
                    </div>

                </li>

                <li>
                    <div class="inputArea">
                        <input type="button" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="同意协议并注册"/> <a href="#" class="zcxy" target="_blank">注册协议</a>
                    </div>

                </li><div class="cl"></div>
            </ul></form>


    </div>


    </div>
    <!--注册end-->
</div>
<script>
$(function(){

	$('#switch_qlogin').click(function(){
		$('#switch_login').removeClass("switch_btn_focus").addClass('switch_btn');
		$('#switch_qlogin').removeClass("switch_btn").addClass('switch_btn_focus');
		$('#switch_bottom').animate({left:'0px',width:'66px'});
		$('#qlogin').css('display','none');
		$('#web_qr_login').css('display','block');
		try{
		parent.layer.iframeAuto(parent.layer.getFrameIndex(window.name));
		}catch(e){}
		});
	$('#switch_login').click(function(){

		$('#switch_login').removeClass("switch_btn").addClass('switch_btn_focus');
		$('#switch_qlogin').removeClass("switch_btn_focus").addClass('switch_btn');
		$('#switch_bottom').animate({left:'152px',width:'66px'});

		$('#qlogin').css('display','block');
		$('#web_qr_login').css('display','none');
		try{
		parent.layer.iframeAuto(parent.layer.getFrameIndex(window.name));
		}catch(e){}
		});
		if(getParam("a")=='0')
		{
			$('#switch_login').trigger('click');
		}

	});

function logintab(){
	scrollTo(0);
	$('#switch_qlogin').removeClass("switch_btn_focus").addClass('switch_btn');
	$('#switch_login').removeClass("switch_btn").addClass('switch_btn_focus');
	$('#switch_bottom').animate({left:'152px',width:'66px'});
	$('#qlogin').css('display','none');
	$('#web_qr_login').css('display','block');

}


//根据参数名获得该参数 pname等于想要的参数名
function getParam(pname) {
    var params = location.search.substr(1); // 获取参数 平且去掉？
    var ArrParam = params.split('&');
    if (ArrParam.length == 1) {
        //只有一个参数的情况
        return params.split('=')[1];
    }
    else {
         //多个参数参数的情况
        for (var i = 0; i < ArrParam.length; i++) {
            if (ArrParam[i].split('=')[0] == pname) {
                return ArrParam[i].split('=')[1];
            }
        }
    }
}


var reMethod = "POST",
	pwdmin = 6;

$(document).ready(function() {


	$('#reg').click(function() {

		if ($('#u').val() == "") {
			$('#u').focus();
			$('#userCue').html("<font color='red'><b>×用户名不能为空</b></font>");
			return false;
		}



		if ($('#u').val().length < 2 || $('#u').val().length > 16) {
			$('#userCue').html("<font color='red'><b>×用户名位2-16字符</b></font>");
			return false;

		}

		if ($('#p').val().length < pwdmin) {
			$('#p').focus();
			$('#userCue').html("<font color='red'><b>×密码不能小于" + pwdmin + "位</b></font>");
			return false;
		}

		if ($('#p2').val() != $('#p').val()) {
			$('#p2').focus();
			$('#userCue').html("<font color='red'><b>×两次密码不一致！</b></font>");
			return false;
		}

		var semail=/^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
		if($('#email').val().length < 7 || !semail.test( $('#email').val())){
			$('#userCue').html("<font color='red'><b>×邮箱格式错误！</b></font>");
			$('#email').focus();
			return false;
		}

		token = $("input[name='__token2__']").val();
		$.ajax({
			type: reMethod,
			url: 'register',
			data: "username=" + $("#u").val() + "&password="+$("#p").val()+"&captcha="+$('#c').val()+"&email="+$('#email').val()+"&phone="+$('#phone').val()+"&__token__="+token+'&temp=' + new Date(),
			dataType: 'json',
			success: function(result) {
				if (result.code!='1') {
					$("#userCue").html("<font color='red'><b>×"+result.msg+"</b></font>");
					$("#capt").click();
					return false;
				} else {
					//top.layer.msg('注册成功!',{shift: 6});layer.msg('注册成功！',{shift: 6});
					top.location.reload(true);location.href='./';
				}
			}
		});
	});


});
</script>
</body>
</html>