<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{$category.name} - {$config.name}</title>
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-title" content="My App">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="author" content="">
        <meta name="keywords" content="{$category.keywords}">
        <meta name="description" content="{$category.description}">
        <link rel="stylesheet" href="__ADDON__/css/main.css">
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
    </head>

    <body>
        <!-- 侧栏 -->
        {include file="common/sidebar"}
        <!-- 文章列表 -->
        <div id="post-list">
            <h2>{$category.name}</h2>
            <ul>
                {include file="common/postlist"}
            </ul>
            <!-- 分页 -->
            <div class="page">
                {if $prevurl}
                <a href="{$prevurl}">上一页</a>
                {/if}
                {if $nexturl}
                <a href="{$nexturl}">下一页</a>
                {/if}
            </div>
        </div>
        <script src="__ADDON__/lib/jquery.js"></script>
    </body>

</html>
